{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{artist.name}} {% if artist.verified %}
    <img alt="Картинка не найдена" width="30"
         height="30"
         src="{% static 'img/verified.png' %}">
{% endif %}</h1>
<img class="text-center" src="{% static artist.pfp %}" width="720" height="480"  alt="artist image">

<h3>Monthly listeners: {{ artist.monthly_listeners }}</h3>
<h3>Subscribers: {{ artist.subscribers }}</h3>
<h3>bio: </h3>
<p>{{ artist.bio }}</p>
      <div class="row">
                {% for rel in artist.releases.all %}
                <div class="col-md-4">
                    <a style="text-decoration: none;" href="{{ rel.get_absolute_url }}">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                 alt="Thumbnail [100%x225]"
                                 style="height: 225px; width: 100%; display: block;"
                                 src="{% static rel.cover %}"
                                 data-holder-rendered="true">
                            <div class="card-body">
                                <h3>{{rel.name}}</h3>
                                <h4>rel.type.value</h4>
                                <h5>{{ rel.date }}</h5>
                                <!--                            <div class="d-flex justify-content-between align-items-center">-->
                                <!--                                <div class="btn-group">-->
                                <!--                                    <button type="button"-->
                                <!--                                            class="btn btn-sm btn-outline-secondary">-->
                                <!--                                        View-->
                                <!--                                    </button>-->
                                <!--                                    <button type="button"-->
                                <!--                                            class="btn btn-sm btn-outline-secondary">-->
                                <!--                                        Edit-->
                                <!--                                    </button>-->
                                <!--                                </div>-->
                                <!--                                <small class="text-muted">9 mins</small>-->
                                <!--                            </div>-->
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor%}
            </div>


{% endblock %}
